<div class="content">
  <h1 class="title">
    <span class="blue">C</span>
    <span class="red">e</span>
    <span class="yellow">r</span>
    <span class="blue">c</span>
    <span class="red">a</span>
    <span class="green">d</span>
    <span class="blue">o</span>
    <span class="red">r</span>
  </h1>
  <form class="form" (keyup.enter)="send()">
    <mat-form-field class="form-field" appearance="outline">
      <mat-label class="label">Cerca</mat-label>
      <input type="text"
             placeholder="Cerca"
             aria-label="Number"
             matInput
             [formControl]="myControl"
             [matAutocomplete]="auto"
             id="search-box-input">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <!-- <input mat-button type="submit"> -->
  </form>

</div>
